{% extends "base.html" %}

{% block title %}Projects{% endblock title %}
{% block projectsActive %} active {% endblock projectsActive %}

{%block body %}
<div class="container mt-5">
    <h1>My Projects</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://source.unsplash.com/500x300/?ott,netflix" class="card-img-top"
                    alt="HLOTT - Your Ultimate Movie Hub">
                <div class="card-body">
                    <h5 class="card-title">HLOTT - Your Ultimate Movie Hub</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Full Stack</h6>
                    <p class="card-text">HLOTT offers a vast movie catalog. Discover, review, and curate your
                        favorite films. Join a vibrant community of movie enthusiasts. Connect with fellow
                        cinephiles on this dynamic movie hub. Explore, discuss, and immerse yourself in the world of
                        cinema with HLOTT!</p>
                    <a href="https://hlott.vercel.app/" class="btn btn-primary" target="_blank" rel="noreferrer">Explore
                        <i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://source.unsplash.com/500x300/?todoapp,visit,gardening,office" class="card-img-top"
                    alt="PrioriPlanner - Turning Tasks into Triumphs">
                <div class="card-body">
                    <h5 class="card-title">PrioriPlanner - Turning Tasks into Triumphs</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Expo | React Native</h6>
                    <p class="card-text">Enhance your daily productivity with our versatile ToDo app. Manage tasks
                        effortlessly, set timely reminders, and stay organized. Achieve more in less time. Download
                        our user-friendly app today and supercharge your efficiency.</p>
                    <a href="https://prioriplanner.netlify.app/" class="btn btn-primary" target="_blank"
                        rel="noreferrer">Explore <i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://source.unsplash.com/500x300/?shopping,flipkar,amazon" class="card-img-top"
                    alt="HLShopping - Shopping Simulation">
                <div class="card-body">
                    <h5 class="card-title">HLShopping - Shopping Simulation</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Full Stack</h6>
                    <p class="card-text">HLShopping is a text-based test project that simulates a virtual shopping
                        experience. Users can browse products, view details, add items to their cart, and practice
                        making virtual purchases, all through text-based interactions.</p>
                    <a href="https://github.com/DeeptiranjanSwain79/HL_Shopping/" class="btn btn-primary"
                        target="_blank" rel="noreferrer">Explore <i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://source.unsplash.com/500x300/?gym,zumba,women" class="card-img-top"
                    alt="Health Heaven - Empowering Ladies">
                <div class="card-body">
                    <h5 class="card-title">Health Heaven - Empowering Ladies</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Frontend</h6>
                    <p class="card-text">Health Heaven is a dedicated gym website designed exclusively for ladies
                        and girls. It offers a safe and supportive fitness environment, providing tailored workout
                        routines, nutrition guidance, and community engagement to empower women on their health and
                        wellness journey.</p>
                    <a href="https://health-heaven.netlify.app/" class="btn btn-primary" target="_blank"
                        rel="noreferrer">Explore <i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://source.unsplash.com/500x300/?weather,sunny,cloudy" class="card-img-top"
                    alt="Weather App - Stay Informed, Plan Ahead">
                <div class="card-body">
                    <h5 class="card-title">Weather App - Stay Informed, Plan Ahead</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Frontend</h6>
                    <p class="card-text">Stay in the know with current weather and a week-long forecast. Plan your
                        days with confidence, whatever the weather. Whether it's a sunny day or a rainy one, our app
                        has you covered. Stay ahead of the weather with ease!</p>
                    <a href="https://weatherapp79.netlify.app/" class="btn btn-primary" target="_blank"
                        rel="noreferrer">Explore <i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://source.unsplash.com/500x300/?chart,data,dashboard" class="card-img-top"
                    alt="Data Usage Tracker - Insights for the World">
                <div class="card-body">
                    <h5 class="card-title">Data Usage Tracker - Insights for the World</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Frontend</h6>
                    <p class="card-text">Explore comprehensive global data with our tracker. Gain valuable insights
                        into worldwide trends and statistics. Stay informed about the bigger picture.</p>
                    <a href="https://data-usage-tracker.netlify.app/" class="btn btn-primary" target="_blank"
                        rel="noreferrer">Explore <i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://source.unsplash.com/500x300/?chart,piechart,barchart" class="card-img-top"
                    alt="Professional Dashboard - Streamline Your Work">
                <div class="card-body">
                    <h5 class="card-title">Professional Dashboard - Streamline Your Work</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Frontend</h6>
                    <p class="card-text">Access all your tools and data from one convenient dashboard. Simplify your
                        workflow and boost productivity with our professional dashboard.</p>
                    <a href="https://silly-axolotl-e0c4b1.netlify.app/" class="btn btn-primary" target="_blank"
                        rel="noreferrer">Explore <i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock body %}